# =========================
# Build directories
# =========================
build/
out/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# =========================
# Visual Studio
# =========================
.vs/
*.VC.db
*.VC.opendb
*.suo
*.user
*.userosscache
*.sln.docstates

# =========================
# Compiled binaries
# =========================
*.exe
*.dll
*.obj
*.o
*.lib
*.a
*.pdb

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Temporary files
# =========================
*.log
*.tmp